html,
body {
	background-color: var(--background-colour);
}
h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 40px;
	color: var(--dark-grey);
	font-weight: bolder;
}
.card-body {
	background-color: var(--secondary-colour);
	box-shadow: 2px 8px 22px var(--grey);
	border-radius: 14px;
}

.card-white {
	background-color: var(--white);
	border: 2px solid var(--primary-colour);
}

.card-pink {
	background-color: var(--primary-colour);
	border: 2px solid var(--white);
}
